/* `display` utilities
   ========================================================================== */

@media only screen and (min-width: $breakpoint--sm) {
  .u-sm-display--inline-block {
    display: none !important;
  }
}

@media only screen and (min-width: $breakpoint--medium-breakpoint) {
  .u-md-display--inline-block {
    display: inline-block !important;
  }
}

@media only screen and (min-width: $breakpoint--small-breakpoint) {
  .u-lg-display--block {
    display: block !important;
  }
}


/* `float` utilities
   ========================================================================== */

@media only screen and (min-width: $breakpoint--medium-breakpoint) {
  .u-md-float--left {
    float: left !important;
  }
}

@media only screen and (min-width: $breakpoint--medium-breakpoint) {
  .u-md-float--right {
    float: right !important;
  }
} 



/* `font-size` utilities
   ========================================================================== */

@media only screen and (min-width: $breakpoint--sm) {
  .u-sm-font-size--default {
    @include font-size(default, !important);
  }
}

@media only screen and (min-width: $breakpoint--medium-breakpoint) {
  .u-md-font-size--default {
    @include font-size(default, !important);
  }
}

.u-md-font-size--small {
  @media only screen and (min-width: $breakpoint--medium-breakpoint) {
    @include font-size(default, !important);
    @include line-height(7, !important);
  }
  @media only screen and (min-width: $breakpoint--Editorial-large-text) {
    @include font-size(large, !important);
    @include line-height(7, !important);
  }
}

.u-md-font-size--small + .u-md-font-size--small {
  margin-top: -0.6em;
}


/* `margin` utilities
   ========================================================================== */

@media only screen and (min-width: $breakpoint--small-breakpoint) {
  .u-md-margin-top--0 {
    margin-top: 0 !important;
  }
}

@media only screen and (min-width: $breakpoint--medium-breakpoint) {
  .u-lg-margin-top--0 {
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: $breakpoint--small-breakpoint) {
  .u-sm-margin-top--x-large {
    @include margin-top(x-large, !important);
  }
}

@media only screen and (max-width: $breakpoint--small-breakpoint) {
  .u-sm-margin-bottom--large {
    @include margin-bottom(large, !important);
  }
}


/* `text-align` utilities
   ========================================================================== */

@media only screen and (max-width: $breakpoint--small-breakpoint) {
  .u-sm-text-align--center {
    text-align: center !important;
  }
}

@media only screen and (min-width: $breakpoint--small-breakpoint) {
  .u-sm-text-align--right {
    text-align: right !important;
  }
}

@media only screen and (min-width: $breakpoint--medium-breakpoint) {
  .u-md-text-align--right {
    text-align: right !important;
  }
}



/* <html> and <body>
   ========================================================================== */

html {
  background-color: $color--global-background;
}

@if $transforms-and-gradients == true {

  html.u-transform-1:before {
    top: 145%;
    @include transform(rotate(17deg) scale(3));
  }

  html.u-transform-2:before {
    top: 145%;
    @include transform(rotate(17deg) scale(3));
  }

  html.u-transform-3:before {
    top: 116%;
    @include transform(rotate(-190deg) scale(3) skew(0, 0));
  }

  html.u-transform-4:before {
    right: 30%;
    top: 133%;
    @include transform(rotate(57deg) scale(3));
  }

  html.u-transform-5:before {
    left: 20%;
    top: 133%;
    @include transform(rotate(-58deg) scale(3));
  }

  html.u-transform-6:before {
    left: 70%;
    top: 133%;
    @include transform(rotate(-58deg) scale(3));
  }

}

body {
  background: none;

  @media only screen and (min-width: $breakpoint--sm) {
    @include font-size(large);
  }
}



/* Base elements
   ========================================================================== */

abbr[title] {
  border-bottom: 1px dotted rgba(83, 75, 63, 0.5);
}

.Break--screenSize-medium {
  display: none;
  @media only screen and (min-width: $breakpoint--small-breakpoint) {
    display: block;
  }
}

figure {
  margin: 0;
}

figcaption {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  margin: 0;
  padding: 0;
  @include rm-font-family(default);
  @include font-weight(normal);
  @include line-height(default);
  @include text-color(default);
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 1.25em;
  margin-top: 0;
}

.u-margin-bottom--screen-size-medium {
  @media only screen and (min-width: $breakpoint--small-breakpoint) {
    @include margin-bottom(default, !important);
  }
}


/* Leader
   ========================================================================== */

.Leader {
  @include Leader;
}

.Editorial-heading + .Leader {
  margin-top: -5px;
}

.Leader--large {
  @include Leader--large;
}

.Leader--extraLarge {
  @include Leader--extraLarge;
}

.Leader-link {
	background-image: -moz-linear-gradient(top, rgba(136, 136, 136,0) 50%, rgba(136, 136, 136,0.6) 50%);
	background-image: -webkit-linear-gradient(top, rgba(136, 136, 136,0) 50%, rgba(136, 136, 136,0.6) 50%);
	background-image: -o-linear-gradient(top, rgba(136, 136, 136,0) 50%, rgba(136, 136, 136,0.6) 50%);
	background-image: linear-gradient(to bottom, rgba(136, 136, 136,0) 50%, rgba(136, 136, 136,0.6) 50%);
	background-repeat: repeat-x;
	background-size: 2px 2px;
	background-position: 0 1.05em;
	text-decoration: none;
  @include text-color(gray-5);

  @media not all, only screen and (min-resolution: 2dppx), only screen and (-webkit-min-device-pixel-ratio: 2) {
    background-image: -moz-linear-gradient(top, rgba(136, 136, 136,0) 75%, rgba(136, 136, 136,0.8) 75%);
    background-image: -webkit-linear-gradient(top, rgba(136, 136, 136,0) 75%, rgba(136, 136, 136,0.8) 75%);
    background-image: -o-linear-gradient(top, rgba(136, 136, 136,0) 75%, rgba(136, 136, 136,0.8) 75%);
    background-image: linear-gradient(to bottom, rgba(136, 136, 136,0) 75%, rgba(136, 136, 136,0.8) 75%);
    background-repeat: repeat-x;
  }
}


/* Navigation
   ========================================================================== */

.Navigation {
  @include margin-bottom(large);
  @include padding-top(x-large);

  @media only screen and (min-width: $breakpoint--small-breakpoint) {
    @include margin-bottom(xx-large);
    @include padding-top(x-large);
  }
}

.Navigation--bottom {
  @media only screen and (min-width: $breakpoint--small-breakpoint) {
    @include margin-bottom(xx-large);
    @include padding-top(16);
  }
}



/* Editorial content
   ========================================================================== */

.Editorial {
  @media only screen and (min-width: $breakpoint--Editorial-large-text) {
    max-width: 100%;
    @include font-size(x-large);
    @include line-height(7);
  }
}

// .Editorial ul {
//   @include padding-left(small);
// }
//
// .Editorial ol,
// .Editorial ul {
//   margin-bottom: 1.25em;
// }
//
// .Editorial ol li,
// .Editorial ul li {
//   list-style: none;
//   margin-left: 1.5em;
//   @include list-item-spacing(xx-loose);
// }

// .Editorial ol li:before,
// .Editorial ul li:before {
//   @include List--dashed;
// }

.Heading--Editorial {
  margin-top: 0;
}

.Heading--Editorial + .Metadata {
  margin-top: -0.5em;
}


/* Wall
   ========================================================================== */

.brick {
  margin-bottom: 20px;
}

@media only screen and (min-width: $breakpoint--medium-breakpoint) {
  .brick {
    float: left;
    // margin-right: 5%;
    // width: 47.5%;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.brick img {
  display: block;
  height: auto;
  margin: 0;
  max-width: 100%;
  width: 100%;
  @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.18))
}


/* Bespoke project styles
   ========================================================================== */

.Feature {
  margin-bottom: 2em;

  @media only screen and (min-width: $breakpoint--small-breakpoint) {
    margin-top: 5em;
  }
}

.Feature--mobile .Feature-description {
  @media only screen and (min-width: $breakpoint--small-breakpoint) {
    margin-top: 4.5em;
  }
}


/* Comma separation
   ========================================================================== */

.separate--comma:after {
  content:", ";
}
.separate--comma:last-child:after {
  content:"";
}


/* Images
   ========================================================================== */

.MediaCollection {
  position: relative;
}

.MediaContainer {
  margin-bottom: 2em;
  position: relative;
}

.MediaContainer--absolute {
  position: absolute;
}

.MediaContainer-media--absolute {
  position: absolute;
}

.MediaContainer--margin--Editorial {
  @include margin-bottom(default);

  @media only screen and (min-width: $breakpoint--sm) {
    @include margin-bottom(large);
  }
}

.MediaContainer--margin-bottom--0 {
  margin-bottom: 0;
}

.MediaContainer--blockGrid {
  margin-bottom: $block-grid-default-spacing;
}

$mobile--height: 639;
$mobile--width:  360;

$mobile--secondary--height: 586;
$mobile--secondary--width:  330;

$mobile--secondary--distance-from-top-of-mobile-trio: 26;

$mobile--secondary--height--small: 469;
$mobile--secondary--width--small:  264;

$mobile--secondary--small--distance-from-top-of-mobile-trio: 84;

$mobile-trio--height: 639;
$mobile-trio--width:  747;

.MediaContainer--mobile--primary {
  margin-left: auto;
  margin-right: auto;
  width: percentage($mobile--width/$mobile-trio--width);
  @include z-index--MediaContainer--mobile--primary;
}

.Media-video:hover {
  cursor: pointer;
}

.Media-video--inline {
  height: 100% !important;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% !important;
  @include z-index--MediaContainer--mobile--primary--video--inline;
}

.MediaContainer--mobile--secondary {
  position: absolute;
  top: percentage($mobile--secondary--small--distance-from-top-of-mobile-trio/$mobile-trio--height);
  width: percentage($mobile--secondary--width--small/$mobile-trio--width);
}

.MediaContainer--mobile--secondary--left {
  left: 0;
}

.MediaContainer--mobile--secondary--right {
  right: 0;
}

.Media--image--feature {
  box-shadow: 0 12px 28px 0 rgba(0,0,0,0.1), 0 2px 6px 0 rgba(0,0,0,0.1);
}

.Media--feature--prominent {
  @include box-shadow(0, 1px, 4px, rgba(0, 0, 0, 0.5))
}

/**
 * 1. Ensures that the overlay applied by VideoJS covers the entire image
 */

.Media--image--poster {
  /* 1 */
  display: block;
  width: 100%;
}

.MediaContainer--mobileSidekick {
  display: none;

  @media only screen and (min-width: $breakpoint--lg) {
    bottom: 2em;
    display: block;
    right: -2em;
    position: absolute;
    width: 12em;
  }
}


/* Video.js overrides
   ========================================================================== */

.video-js.vjs-default-skin,
.video-js .vjs-poster {
  background-color: rgba(0, 0, 0, 0.15);
}

.video-js.vjs-default-skin:hover,
.video-js .vjs-poster:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.vjs-default-skin .vjs-big-play-button {
  background-color: rgba(51, 51, 51, 1);
  border: 0;
  border-radius: 100%;
  box-shadow: none;
  height: auto;
  height: 60px;
  width: 60px;
}

.vjs-default-skin:hover .vjs-big-play-button,
.vjs-default-skin .vjs-big-play-button:focus {
  background-color: rgba(51, 51, 51, 0.75);
  box-shadow: none;
}

.vjs-default-skin.vjs-big-play-centered .vjs-big-play-button {
  font-size: 250%;
  margin-left: -30px;
}

.vjs-default-skin .vjs-big-play-button:before {
  color: #fff;
  height: auto;
  left: 0.07em;
  line-height: 100%;
  text-shadow: none;
  top: 50%;
  @include transform(translateY(-50%));
}

.vjs-default-skin .vjs-control:before,
.vjs-default-skin .vjs-control:focus:before,
.vjs-default-skin .vjs-control:hover:before {
  color: #fff;
  text-shadow: none;
}

.vjs-default-skin .vjs-control-bar {
  background-color: rgba(51, 51, 51, 0.95);
}

.vjs-default-skin .vjs-load-progress {
  background: rgba(255, 255, 255, 0.2);
}

.vjs-default-skin .vjs-seek-handle {
  background-color: #fff;
  border-radius: 100px;
  width: 1em;
}

.vjs-default-skin .vjs-slider {
  background-color: rgba(0, 0, 0, 0.2);
}

.vjs-default-skin .vjs-slider-handle:before {
  display: none;
}

.vjs-default-skin .vjs-play-progress,
.vjs-default-skin .vjs-volume-level {
  background: rgba(0, 0, 0, 0.3);
}

.vjs-default-skin .vjs-time-controls {
  @include rm-font-family(alt);
}

.vjs-default-skin .vjs-volume-handle:before {
  text-shadow: none;
  transform: none;
}


/* ViewHeader
   ========================================================================== */

.ViewHeader {
  margin-bottom: 1em;
}



.u-background-blend-bg {
  mix-blend-mode: multiply;
}

.u-background-blend-image {
  mix-blend-mode: screen;
}

.u-image-clip {
  -webkit-clip-path: polygon(0 1%, 100% 2%, 99% 99%, 2% 100%);
  clip-path: polygon(0 1%, 100% 2%, 99% 99%, 2% 100%);
}

/* http://bennettfeely.com/clippy/ */

@if $transforms-and-gradients == true {

  html.u-transform-1 .u-image-clip,
  html.u-transform-2 .u-image-clip {
    -webkit-clip-path: polygon(0 1%, 100% 2%, 99% 99%, 2% 100%);
    clip-path: polygon(0 1%, 100% 2%, 99% 99%, 2% 100%);
  }

  html.u-transform-3 .u-image-clip,
  html.u-transform-4 .u-image-clip {
    -webkit-clip-path: polygon(0 1%, 100% 2%, 99% 100%, 2% 99%);
    clip-path: polygon(0 1%, 100% 2%, 99% 100%, 2% 99%);
  }

  html.u-transform-5 .u-image-clip,
  html.u-transform-6 .u-image-clip {
    -webkit-clip-path: polygon(2% 0, 98% 2%, 100% 99%, 0 100%);
    clip-path: polygon(2% 0, 98% 2%, 100% 99%, 0 100%);
  }

}

.u-image-grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.KVP {
  margin: 0 0 1rem 0;
}

.KVP-key,
.KVP-value {
  display: inline-block;
  margin: 0 0 0.35em 0;
  padding: 0;
}

.KVP-key {
  @include rm-font-family(alt-bold);
}

.MediaContainer--slide .Media--image {
  height: auto;
  width: 100%;
}

.SlideText {
  left: 50%;
  margin: 0 auto;
  max-width: 40em;
  padding-left: 1em;
  padding-right: 1em;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  @include font-size(x-large);
  @include line-height(7);
  @include Neuzeit-letter-spacing--reduced;
  @include rm-font-family(alt);
}

.SlideText * {
  margin: 0;
}

// This and rule below shouldn't have hard-coded values
// But they do. Because Foundation's grid variables wouldn't/couldn't
// get used here. So...

.l-Masonry-sizer {
  width: 33.33333%;
}

.l-Masonry-item {
  padding-bottom: $block-grid-default-spacing / 2;
  padding-top: $block-grid-default-spacing / 2;
}

.Media--ticket {
  box-shadow: 0 2px 6px rgba(0,0,0,.12);
  border-radius: 3px;
  position: relative;
}

.fr-window {
  @include rm-font-family(default);
  @include font-size(default);
  @include font-weight(normal);
  @include line-height(default);
  @media only screen and (min-width: $breakpoint--Editorial-large-text) {
    @include font-size(x-large);
    @include line-height(7);
  }
}

.fr-info {
  @include font-size(default);
  @include font-weight(normal);
  @include line-height(default);
  @media only screen and (min-width: $breakpoint--Editorial-large-text) {
    @include font-size(x-large);
    @include line-height(7);
  }
}

.fr-info-background {
  background: transparent !important;
}

.fr-window-skin-fresco .fr-content-background {
  background: transparent;
  box-shadow: none;
}

.fr-overlay-background {
  opacity: .85;
}

.fr-position-background {
  opacity: 0;
}

.fr-overlay {
  opacity: .85;
}

.fr-caption {
  display: inline-block;
  max-width: 40em;
}

.fr-window-skin-fresco.fr-window-ui-outside .fr-close-background,
.fr-window-skin-fresco.fr-window-ui-inside .fr-close-background,
.fr-window-skin-fresco.fr-window-ui-fullclick .fr-close-background {
  background-color: transparent;
}

.fr-stroke {
  display: none;
}

.fr-window-skin-fresco .fr-side-button-icon,
.fr-window-skin-fresco .fr-close-icon,
.fr-window-skin-fresco .fr-thumbnails-side-button-icon,
.fr-window-skin-fresco .fr-error-icon {
  background-image: url("/assets/images/fresco/sprite.svg");
}


/* Icons
   ========================================================================== */

.Icon {
  display: inline-block;
}

.IconLink {
  display: inline-block;  
}

.Icon .Icon-svg {
  fill: $text-color--dark;
}

.Icon--secondary .Icon-svg {
  fill: $color--gray-9;
}

.Icon--button {
  margin-top: -3px;
  vertical-align: middle;
}

.IconButtonString {
  display: inline-block;
  vertical-align: middle;
  @include margin-left(x-small);
}

.Icon--buttonIcon .Icon-svg {
  fill: $color--global-background;
}

.Icon--buttonOutlineIcon .Icon-svg {
  fill: $color--global-background;
}

.Icon--x-small,
.Icon--x-small .Icon-svg,
.IconLink--x-small {
  height: 16px;
  width: 16px;
}

.Icon--small,
.Icon--small .Icon-svg,
.IconLink--small {
  height: 24px;
  width: 24px;
}

.Icon--medium,
.Icon--medium .Icon-svg,
.IconLink--medium {
  height: 36px;
  width: 36px;
}

.Icon--logoSmall,
.Icon--logoSmall .Icon-svg,
.IconLink--logoSmall {
  height: 34px;
  width: 80px;
}

.Icon--logoBig,
.Icon--logoBig .Icon-svg,
.IconLink--logoBig {
  height: 30px;
  width: 283px;
}

/* Icons sourced from https://simpleicons.org */

a:hover .Icon--spotify .Icon-svg,
.Icon--spotify--coloured .Icon-svg {
  fill: #1ED760;
}

a:hover .Icon--applemusic .Icon-svg,
.Icon--applemusic--coloured .Icon-svg {
  fill: #B661D1;
}

a:hover .Icon--itunes .Icon-svg,
.Icon--itunes--coloured .Icon-svg {
  fill: #999;
}

a:hover .Icon--soundcloud .Icon-svg,
.Icon--soundcloud--coloured .Icon-svg {
  fill: #ff3300;
}

a:hover .Icon--youtube .Icon-svg,
.Icon--youtube--coloured .Icon-svg {
  fill: #ff0000;
}

a:hover .Icon--twitter .Icon-svg,
.Icon--twitter--coloured .Icon-svg {
  fill: #1DA1F2;
}

a:hover .Icon--facebook .Icon-svg,
.Icon--facebook--coloured .Icon-svg {
  fill: #1778F2;
}

a:hover .Icon--instagram .Icon-svg,
.Icon--instagram--coloured .Icon-svg {
  fill: #E4405F;
}

a:hover .Icon--bandcamp .Icon-svg,
.Icon--bandcamp--coloured .Icon-svg {
  fill: #408294;
}

.u-visuallyHidden { 
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.inputField {
  border: 1px solid $color--gray-11;
  @include border-radius(default); 
  @include font-size(default);
  @include line-height(xx-tight);
  @include rm-font-family(alt);
  @include margin-bottom(default);
  @include padding(default);
}

.MMLogoLink {
  display: inline-block;
  max-width: 420px;
  width: 100%;
}

.WrittenContent--constrained {
  max-width: 30em;
}

.Card {
  background-color: #fff;
  box-shadow:
    0px 2px 8px rgba(0, 0, 0, 0.05),
    0px 1px 4px rgba(0, 0, 0, 0.05),
    0px 2px 40px rgba(0, 0, 0, 0.03);
  display: block;
  overflow: hidden;
  @include clearfix;
  @include margin-bottom(default);
  @include padding(default);

  @media only screen and (min-width: $breakpoint--x-sm) {
    @include padding(x-large);
  }
}

.Card--link {
  -webkit-box-shadow:
    0 13px 27px -5px rgba(50,50,93,.25),
    0 8px 16px -8px rgba(0,0,0,.3),
    0 -6px 16px -6px rgba(0,0,0,.025);
  box-shadow:
    0 13px 27px -5px rgba(50,50,93,.25),
    0 8px 16px -8px rgba(0,0,0,.3),
    0 -6px 16px -6px rgba(0,0,0,.025);
  -webkit-transition: all .1s ease;
  text-decoration: none;
  transition: all .1s ease;
}

.Card--link:hover,
.Card--link:active {
  -webkit-box-shadow:
    0 30px 60px -12px rgba(50,50,93,.25),
    0 18px 36px -18px rgba(0,0,0,.3),
    0 -12px 36px -8px rgba(0,0,0,.025);
  box-shadow:
    0 30px 60px -12px rgba(50,50,93,.25),
    0 18px 36px -18px rgba(0,0,0,.3),
    0 -12px 36px -8px rgba(0,0,0,.025);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.Card--imageFill {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.Card--imageLeft {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100px 100%;
  color: #fff;
  object-fit: contain;
  padding-left: 120px;
}

.Card--service1 {
  background-image:
    linear-gradient(
      rgba(0,0,0,0.3),
      rgba(0,0,0,0.5)
    ),
    url("http://www.murrayandduncan.com/assets/images/md/mastheads/how_we_work_v2.jpg");
}

.Card--service2 {
  background-image: url("http://www.murrayandduncan.com/assets/images/md/mastheads/how_we_work_v2.jpg");
}

.Card--homeHero {
  @media only screen and (min-width: $breakpoint--md) {
    margin-top: -9em;
  }  
}

.Card--collectionsCare {
  @media only screen and (min-width: $breakpoint--md) {
    margin-top: -20em;
  }
}

.Card--recordsManagement {
  @media only screen and (min-width: $breakpoint--md) {
    margin-top: -18em;
  }
}

.Card-media {
  height: 200px;
  overflow: hidden;
}

.Card-media--Left {
  float: left;
  height: 100%;
  width: 200px;
} 

.Card-media-image {
  object-fit: cover;
}

.Card-heading {
  color: $text-color--dark;
  font-weight: normal;
  margin: 0 0 0.5em 0;
  padding-bottom: 0.1em;
  text-decoration: none;
  @include font-size(7);
  @include line-height(xx-tight);
  @include rm-font-family(alt-bold);

  @media only screen and (min-width: $breakpoint--x-sm) {
    @include font-size(9);
  }
  @media only screen and (min-width: $breakpoint--Editorial-large-text) {
    @include font-size(10);
  }
}

.Card-heading--reversed {
  color: #fff;
}

.Card-content {
  @include padding(default); 
}

.Card-content--reversed {
  color: rgba(255,255,255,0.8);
}

.Card-heading::after {
  content: "→";
  @include rm-font-family(alt);
}

.Card-footerLink {
  color: $text-color--dark;
  font-weight: 600;
}


.Masthead {
  background-image:
    linear-gradient(
      rgba(0,0,0,0.3),
      rgba(0,0,0,0.5)
    ),
    url("http://www.murrayandduncan.com/assets/images/md/mastheads/how_we_work_v2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  overflow: hidden;
  position: relative;

  @media only screen and (min-width: 700px) {
    min-height: 420px;
  }
  @media only screen and (min-width: 1000px) {
    min-height: 560px;
  }
}

.u-textTheme--reversed,
.u-textTheme--reversed .Heading,
.u-textTheme--reversed .NavLink { 
  color: #fff;
}

.u-textTheme--reversed .NavLink--current {
  color: rgba(255,255,255,0.5);
}

.u-borderTop {
  border-style: solid;
  border-width: 1px 0 0 0;
}

.u-borderTop--transparent {
  border-color: rgba(255,255,255,0.3);
}

.u-imageOverlay {
  background-color: rgba(0,0,0,0.3);
  background-size: cover;
}

.ServicesImagePushed {
  @media only screen and (min-width: $breakpoint--md) {
    margin-top: 14em;
  }  
}

// .column {
//   background-color: rgba(255,0,0,0.1);
//   outline: 1px solid red;
// }