@charset "UTF-8";

@import "//vjs.zencdn.net/4.12/video-js.css";

@import "_utility-settings";

$transforms-and-gradients: false;


/* Bespoke project variables
   ========================================================================== */

@import "_project-variables";


/* Vendor CSS
   ========================================================================== */

@import "vendor/foundation/_settings";
@import "vendor/_gradient-color-at";
@import "vendor/foundation/components/_block-grid";
@import "vendor/foundation/components/_grid";
@import "vendor/fresco/_fresco";


/* Utilities prerequisites – ensure variables are usable by other utilities
   ========================================================================== */

@import "utilities/_font-family";
@import "utilities/_grid";


/* Project utilities
   ========================================================================== */

@import "utilities/_border";
@import "utilities/_clearfix";
@import "utilities/_display";
@import "utilities/_float";
@import "utilities/_font-size";
@import "utilities/_gradients";
@import "utilities/_image-treatments";
@import "utilities/_leader";
@import "utilities/_links";
@import "utilities/_margin";
@import "utilities/_metadata";
@import "utilities/_syntax";
@import "utilities/_text-align";
@import "utilities/_text-theme";
@import "utilities/_z-index";
@import "utilities/_visibility";


/* Base styles
   ========================================================================== */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

body,
input,
textarea,
keygen,
select,
button {
  /* Turn on kerning */
  -moz-font-feature-settings: "liga", "kern";
  -moz-font-feature-settings:"liga=1, kern=1";
  -ms-font-feature-settings:"liga", "kern";
  -o-font-feature-settings:"liga", "kern";
  -webkit-font-feature-settings:"liga", "kern";
  font-feature-settings: "liga", "kern";
  @include font-size(default);
  @include line-height(8);
  @include text-color(gray-2);
  @include rm-font-family(default);
}


/* Project components and view-specific styles
   ========================================================================== */

@import "components/_pullquote";
@import "components/_button";
@import "components/_card";
@import "components/_comma-separator.scss";
@import "components/_editorial";
@import "components/_feature";
@import "components/_forms";
@import "components/_heading";
@import "components/_icon";
@import "components/_leader";
@import "components/_list";
@import "components/_media";
@import "components/_navigation";
@import "components/_navlist";
@import "components/_table";
@import "components/_video-js";
@import "components/_wall";

@import "_markdown";

/* Bespoke project styles that aren't components
   ========================================================================== */

@import "_project";
