---
title: Icons
permalink: /pattern-library/#section--icons
pattern_id: icons
---

<div class="l-Wrapper l-Wrapper--row u-margin-top--xx-large" id="section--{{ page.pattern_id }}">
  <section class="row row--Editorial u-padding-top--0">
    <div class="column medium-4">
      <div class="column-content column-content--medium">
        <h2 class="Heading Heading--minor u-margin-top--0">
          {{ page.title }}
        </h2>
      </div>
    </div>
    <div class="column medium-8">
      <div class="Editorial">
        <div class="DocsExample">
{% example html %}
<ul class="NavList NavList--inline u-margin-bottom--small" role="navigation">
  <li>
    <a class="IconLink IconLink--small" href="https://mdmt.in/spotify">
      <i class="Icon Icon--secondary Icon--small Icon--spotify">
        {% include icons/spotify.svg %}
      </i>
     <span class="u-visuallyHidden">Spotify</span>
   </a>
  </li>
  <li>
    <a class="IconLink IconLink--small" href="https://mdmt.in/apple">
      <i class="Icon Icon--secondary Icon--small Icon--applemusic">
        {% include icons/applemusic.svg %}
      </i>
     <span class="u-visuallyHidden">Apple Music</span>
    </a>
  </li>
  <li>
    <a class="IconLink IconLink--small" href="https://mdmt.in/youtube">
      <i class="Icon Icon--secondary Icon--small Icon--youtube">
        {% include icons/youtube.svg %}
      </i>
     <span class="u-visuallyHidden">YouTube</span>
    </a>
  </li>
  <li>
    <a class="IconLink IconLink--small" href="https://mdmt.in/bandcamp">
      <i class="Icon Icon--secondary Icon--small Icon--bandcamp">
        {% include icons/bandcamp.svg %}
      </i>
     <span class="u-visuallyHidden">Bandcamp</span>
    </a>
  </li>
  <li>
    <a class="IconLink IconLink--small" href="https://mdmt.in/soundcloud">
      <i class="Icon Icon--secondary Icon--small Icon--soundcloud">
        {% include icons/soundcloud.svg %}
      </i>
     <span class="u-visuallyHidden">Soundcloud</span>
    </a>
  </li>
  <li>
    <a class="IconLink IconLink--small" href="https://mdmt.in/fb">
      <i class="Icon Icon--secondary Icon--small Icon--facebook">
        {% include icons/facebook.svg %}
      </i>
      <span class="u-visuallyHidden">Facebook</span>
    </a>
  </li>
  <li>
    <a class="IconLink IconLink--small" href="https://mdmt.in/tw">
      <i class="Icon Icon--secondary Icon--small Icon--twitter">
        {% include icons/twitter.svg %}
      </i>
      <span class="u-visuallyHidden">Twitter</span>
    </a>
  </li>
  <li>
    <a class="IconLink IconLink--small" href="https://mdmt.in/ig">
      <i class="Icon Icon--secondary Icon--small Icon--instagram">
        {% include icons/instagram.svg %}
      </i>
      <span class="u-visuallyHidden">Instagram</span>
    </a>
  </li>
</ul>
{% endexample %}
        </div>
      </div>
    </div>
  </section>
</div>
