<div class="ButtonGroup">

{% if post.prerelease_links or page.prerelease_links %}

{% if page.is_home != null %}
<a class="Button" href="{{ post.link_presave_master }}">Pre-Save/Pre-Add</a>
{% else %}
<a class="Button" href="{{ page.link_presave_master }}">Pre-Save/Pre-Add</a>
{% endif %}

{% if page.is_home != null %}
<a class="Button" href="{{ post.link_preorder_master }}">Pre-Order</a>
{% else %}
<a class="Button" href="{{ page.link_preorder_master }}">Pre-Order</a>
{% endif %}

{% comment %}

{% if page.is_home != null %}
<a class="Button Button--outline" href="{{ post.link_presave_spotify }}">
  <i class="Icon Icon--button Icon--x-small Icon--spotify Icon--spotify--coloured">{% include icons/spotify.svg %}</i>
  <span class="IconButtonString">Pre-Save on Spotify</span>
</a>
{% else %}
<a class="Button Button--outline" href="{{ page.link_presave_spotify }}">
  <i class="Icon Icon--button Icon--x-small Icon--spotify Icon--spotify--coloured">{% include icons/spotify.svg %}</i>
  <span class="IconButtonString">Pre-Save on Spotify</span>
</a>
{% endif %}

{% if page.is_home != null %}
<a class="Button Button--outline" href="{{ post.link_preadd_apple }}">
  <i class="Icon Icon--button Icon--x-small Icon--applemusic Icon--applemusic--coloured">{% include icons/applemusic.svg %}</i>
  <span class="IconButtonString">Pre-Add on Apple Music</span>
</a>          
{% else %}
<a class="Button Button--outline" href="{{ page.link_preadd_apple }}">
  <i class="Icon Icon--button Icon--x-small Icon--applemusic Icon--applemusic--coloured">{% include icons/applemusic.svg %}</i>
  <span class="IconButtonString">Pre-Add on Apple Music</span>
</a>          
{% endif %}

{% if page.is_home != null %}
<a class="Button Button--outline" href="{{ post.link_preorder_bandcamp }}">
  <i class="Icon Icon--button Icon--x-small Icon--bandcamp Icon--bandcamp--coloured">{% include icons/bandcamp.svg %}</i>
  <span class="IconButtonString">Pre-Order on Bandcamp</span>
</a>
{% else %}
<a class="Button Button--outline" href="{{ page.link_preorder_bandcamp }}">
  <i class="Icon Icon--button Icon--x-small Icon--bandcamp Icon--bandcamp--coloured">{% include icons/bandcamp.svg %}</i>
  <span class="IconButtonString">Pre-Order on Bandcamp</span>
</a>
{% endif %}

{% if page.is_home != null %}
<a class="Button Button--outline" href="{{ post.link_preorder_itunes }}">
  <i class="Icon Icon--button Icon--x-small Icon--itunes Icon--itunes--coloured">{% include icons/itunes.svg %}</i>
  <span class="IconButtonString">Pre-Order on iTunes</span>
</a>	
{% else %}
<a class="Button Button--outline" href="{{ page.link_preorder_itunes }}">
  <i class="Icon Icon--button Icon--x-small Icon--itunes Icon--itunes--coloured">{% include icons/itunes.svg %}</i>
  <span class="IconButtonString">Pre-Order on iTunes</span>
</a>    
{% endif %}

{% endcomment %}

{% else %}

{% if page.is_home != null %}
<a class="Button" href="{{ post.link_listen }}">Listen</a>
{% else %}
<a class="Button" href="{{ page.link_listen }}">Listen</a>
{% endif %}

{% if page.is_home != null %}
<a class="Button" href="{{ post.link_buy }}">Buy</a>
{% else %}
<a class="Button" href="{{ page.link_buy }}">Buy</a>
{% endif %}

{% comment %}
{% if page.is_home != null %}            
<a class="Button Button--secondary" href="{{ post.permalink }}">Info</a>
{% endif %}
{% endcomment %}

{% endif %}

</div>
