/* Button
   ========================================================================== */

.Button {
  background-color: $text-color--dark;
  background-position: 0 0 !important;
  background-repeat: no-repeat !important;
  background-size: 0 0 !important;
  border: 0;
  border-radius: 100px;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  overflow: visible;
  padding: 1em 1.25em;
  text-align: center;
  text-decoration: none !important;
  width: auto;
  @include font-size(default);
  @include line-height(xx-tight);
  @include rm-font-family(bold);
}

.Button:hover,
.Button:active,
.Button:focus {
  background-color: $color--gray-2;
  color: #fff;
}

.Button--block {
  display: block;
  width: 100%;
}

.Button--secondary,
.Button--secondary:visited {
  background-color: $color--gray-13;
  @include text-color(gray-1);
}

.Button--secondary:hover,
.Button--secondary:active,
.Button--secondary:focus {
  background-color: $color--gray-12;
  @include text-color(gray-1);
}

.Button--outline,
.Button--outline:visited {
  background-color: transparent;
  border: 1px solid $color--gray-10;
  color: $text-color--dark;
}

.Button--outline:hover,
.Button--outline:active,
.Button--outline:focus {
  border-color: $color--gray-2;
}

.ButtonGroup {
  @include clearfix;
}

.ButtonGroup .Button {
  @include margin(x-small);
}

.ButtonGroup .Button:first-child {
  margin-left: 0;
}

.ButtonGroup .Button:last-child {
  margin-right: 0;
}

.ButtonGroup--wrapped .Button {
  float: left;
  margin-bottom: 0;
  margin-left: 0;
  @include margin-top(default);
  @include margin-right(default);
}

.ButtonGroup--wrapped .Button:last-child {
  margin-bottom: 0;
}

@if $transforms-and-gradients == true {

  html.u-gradient-1 .Button:hover {
    background-color: $gradient-1--color-1;
  }

  html.u-gradient-1 .Button:active,
  html.u-gradient-1 .Button:focus {
    background-color: $gradient-1--color-2;
  }

  html.u-gradient-2 .Button:hover {
    background-color: $gradient-2--color-1;
  }

  html.u-gradient-2 .Button:active,
  html.u-gradient-2 .Button:focus {
    background-color: $gradient-2--color-2;
  }

  html.u-gradient-3 .Button:hover {
    background-color: $gradient-3--color-1;
  }

  html.u-gradient-3 .Button:active,
  html.u-gradient-3 .Button:focus {
    background-color: $gradient-3--color-2;
  }

}
